%h1 All the breeds in Max House
.hero-unit
  #hero1
    %h1 Max
    %p  Here is my description
    #panel-links
      %span.bagde.badge-warning 1
      %span.bagde.badge-warning 2
      %span.bagde.badge-warning 3



